<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMemberMapper">
  
  <select id="selectTotalCnt" resultType="int">
  	SELECT COUNT(NO) FROM EMPLOYEE
  	<choose>
  		<when test='sort=="n"'>
  			WHERE RESIGN_YN = 'N'
  		</when>
  		<when test='sort=="y"'>
  			WHERE RESIGN_YN = 'Y'
  		</when>
  	</choose>
  </select>
  
  <select id="selectMemberList" resultType="MemberVo">
		SELECT M.NO, M.NAME, P.NAME POS_NO, D.NAME DEPT_NO, M.ID, TO_CHAR(ENROLL_DATE, 'YYYY.MM.DD') ENROLL_DATE, 
  		TO_CHAR(RESIGN_DATE, 'YYYY.MM.DD') RESIGN_DATE, RESIGN_YN FROM EMPLOYEE M 
        LEFT OUTER JOIN POSITION P ON P.NO = M.POS_NO
        LEFT OUTER JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
  	<choose>
  		<when test='sort=="n"'>
  			WHERE RESIGN_YN = 'N'
  		</when>
  		<when test='sort=="y"'>
  			WHERE RESIGN_YN = 'Y'
  		</when>
  	</choose>
  			ORDER BY M.NO ASC
  </select>
  
  <select id="selectTotalKeyword" parameterType="HashMap" resultType="int">
  		SELECT COUNT(M.NO) FROM EMPLOYEE M
        LEFT OUTER JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
	  	<choose>
  		<when test='option=="name"'>
  			WHERE M.NAME LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="dept"'>
  			WHERE D.NAME LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="id"'>
  			WHERE M.ID LIKE '%'||#{keyword}||'%'
  		</when>
  	</choose>
  			
  </select>
  
  <select id="selectMemberKeyword" parameterType="HashMap" resultType="MemberVo">
  	SELECT M.NO, M.NAME, P.NAME POS_NO, D.NAME DEPT_NO, M.ID, TO_CHAR(ENROLL_DATE, 'YYYY.MM.DD') ENROLL_DATE, 
  		RESIGN_YN FROM EMPLOYEE M 
        LEFT OUTER JOIN POSITION P ON P.NO = M.POS_NO
        LEFT OUTER JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
 	 <choose>
  		<when test='option=="name"'>
  			WHERE M.NAME LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="dept"'>
  			WHERE D.NAME LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="id"'>
  			WHERE M.ID LIKE '%'||#{keyword}||'%'
  		</when>
  	</choose> 
  			ORDER BY M.NO ASC
  </select>
  
  <select id="selectDeptList" resultType="com.kh.checkmine.member.vo.DeptVo">
  	SELECT NO, NAME FROM DEPARTMENT
  </select>
  
  <select id="selectPosList" resultType="com.kh.checkmine.member.vo.PosVo">
  	SELECT NO, NAME FROM POSITION
  </select>
  
  <select id="checkDup" resultType="String">
  	SELECT COUNT(ID) FROM EMPLOYEE WHERE ID=#{id} 
  </select>
  
  <insert id="insertMember" parameterType="MemberVo">
  	INSERT INTO EMPLOYEE(NO, POS_NO, DEPT_NO, ID, PWD, NAME, EMAIL, PHONE, ADDRESS,
         ADDRESS_DETAIL, PHOTO_NAME, PHOTO_PATH, PERMISSION)
        VALUES(SEQ_EMP_NO.nextval, #{posNo}, #{deptNo}, #{id}, #{pwd}, #{name}, #{email},
        #{phone}, #{address}, #{addressDetail}, #{photoName}, #{photoPath},
        #{permission})
  </insert>
  
  <select id="selectMember" resultType="MemberVo">
  	SELECT NO, NAME, POS_NO, DEPT_NO, ID, PWD, EMAIL, PHONE,
        ADDRESS, ADDRESS_DETAIL, TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE, 
        TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE, TO_CHAR(RESIGN_DATE, 'YYYY-MM-DD') 
        RESIGN_DATE, RESIGN_YN, PHOTO_NAME, PHOTO_PATH, PERMISSION FROM EMPLOYEE 
        WHERE NO = #{no}
  </select>
  
  <update id="updateMember" parameterType="MemberVo">
	UPDATE EMPLOYEE SET NAME = #{name}, POS_NO = #{posNo}, DEPT_NO = #{deptNo}, ADDRESS = #{address},
	  	ADDRESS_DETAIL = #{addressDetail}, PHONE = #{phone}, PHOTO_NAME = #{photoName}, PHOTO_PATH = #{photoPath},
	  	PERMISSION = #{permission}, MODIFY_DATE = SYSDATE, RESIGN_DATE = #{resignDate}
	  	<choose>
	  		<when test="resignDate != ''">
	  			, RESIGN_YN = 'Y'
	  		</when>
	  		<otherwise>
	  			, RESIGN_YN = 'N'
	  		</otherwise>
	  	</choose>
	  WHERE NO = #{no}
  </update>
  <select id="selectMemberByDate" resultType="MemberVo">
  	SELECT e.name, to_char(MODIFY_DATE, 'YYYY.MM.DD HH24:MI') MODIFY_DATE, 
  	to_char(ENROLL_DATE, 'YYYY.MM.DD HH24:MI') ENROLL_DATE,
  	MODIFY_DATE||ENROLL_DATE sort FROM EMPLOYEE e
    ORDER BY sort DESC
  </select>
  
  <select id="selectMemberCnt" resultType="map">
  SELECT P.NO, COUNT(POS_NO) CNT FROM EMPLOYEE E
	RIGHT OUTER JOIN POSITION P ON E.POS_NO = P.NO
	GROUP BY P.NO
  
  </select>
  
  <delete id="deleteMember">
  	DELETE FROM EMPLOYEE WHERE NO = #{no}
  </delete>
  
</mapper>