<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
  <select id="selectOneById" resultType="AdminVo">
  	SELECT NO, NAME, ID, PWD FROM ADMIN WHERE ID=#{id}
  </select>
  
  <!-- <select id="summary" resultType="	int[]">
  	SELECT
	(SELECT COUNT(MEMBER.NO) FROM MEMBER) AS MEMBERTOTAL,
	(SELECT COUNT(MEMBER.NO) FROM MEMBER WHERE MEMBER.ENROLL_DATE >= SYSDATE-2 OR MEMBER.MODI_DATE = TO_CHAR(SYSDATE)) AS MEMBERCHANGE,
	(SELECT COUNT(NO) FROM BOARD) AS BOARD,
	(SELECT COUNT(PLACE_RESERVATION.NO) FROM PLACE_RESERVATION WHERE PLACE_RESERVATION.RSV_BEGIN= TO_CHAR(SYSDATE)) 
	+(SELECT COUNT(GOODS_RESERVATION.NO) FROM GOODS_RESERVATION WHERE GOODS_RESERVATION.BORROW= TO_CHAR(SYSDATE)) AS BOOK
	FROM MEMBER, BOARD, GOODS_RESERVATION
	WHERE ROWNUM = 1
  </select> -->
</mapper>
