<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
  <select id="selectOneById" resultType="AdminVo">
  	SELECT NO, NAME, ID, PWD FROM ADMIN WHERE ID=#{id}
  </select>
  
  <select id="summary" resultType="Map">
  	SELECT
	(SELECT COUNT(EMPLOYEE.NO) FROM EMPLOYEE WHERE RESIGN_YN = 'N') AS EMPLOYEETOTAL,
	(SELECT COUNT(EMPLOYEE.NO) FROM EMPLOYEE WHERE EMPLOYEE.ENROLL_DATE >= TO_CHAR(SYSDATE) OR EMPLOYEE.MODIFY_DATE >= TO_CHAR(SYSDATE)) AS EMPLOYEECHANGE,
	(SELECT COUNT(NO) FROM BOARD WHERE BOARD.ENROLL_DATE >= TO_CHAR(SYSDATE) AND DELETE_YN = 'N') AS BOARD,
	(SELECT COUNT(PLACE_RESERVATION.NO) FROM PLACE_RESERVATION WHERE TO_CHAR(PLACE_RESERVATION.RSV_BEGIN) = TO_CHAR(SYSDATE)) 
	+(SELECT COUNT(GOODS_RESERVATION.NO) FROM GOODS_RESERVATION WHERE TO_CHAR(GOODS_RESERVATION.BORROW) = TO_CHAR(SYSDATE)) AS BOOK
	FROM EMPLOYEE, BOARD, GOODS_RESERVATION
	WHERE ROWNUM = 1
  </select>
  
  <select id="selectBoardList" resultType="BoardVo">
  	SELECT B.*, RECOMMEND_CNT FROM BOARD B 
  	JOIN (SELECT NO, COUNT(M_NO) AS RECOMMEND_CNT FROM board_recommend GROUP BY NO) R 
  	ON B.NO = R.NO ORDER BY B.ENROLL_DATE DESC
  </select>
  
</mapper>
