<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
  <!-- 로그인 -->
  <select id="selectOneById" resultType="AdminVo">
  	SELECT NO, NAME, ID, PWD FROM ADMIN WHERE ID=#{id}
  </select>
  
  <!-- 요약 -->
  <select id="summary" resultType="Map">
  SELECT
	(SELECT COUNT(EMPLOYEE.NO) FROM EMPLOYEE WHERE RESIGN_YN = 'N') AS EMPLOYEETOTAL,
	(SELECT COUNT(EMPLOYEE.NO) FROM EMPLOYEE 
	WHERE EMPLOYEE.ENROLL_DATE >= TO_CHAR(SYSDATE) OR EMPLOYEE.MODIFY_DATE >= TO_CHAR(SYSDATE)) AS EMPLOYEECHANGE,
	(SELECT COUNT(NO) FROM BOARD WHERE BOARD.ENROLL_DATE >= TO_CHAR(SYSDATE) AND DELETE_YN = 'N') AS BOARD,
	(SELECT COUNT(PR.NO) FROM PLACE_RESERVATION PR
    JOIN PUBLIC_PLACE PP ON PR.PL_NO = PP.NO
	<![CDATA[WHERE TO_CHAR(PR.RSV_BEGIN, 'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD')
        AND TO_CHAR(PR.RSV_END, 'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')
        AND PP.DELETE_YN = 'N')]]>+(SELECT COUNT(GR.NO) FROM GOODS_RESERVATION GR
    JOIN PUBLIC_GOODS PG ON GR.GOODS_NO = PG.NO
	<![CDATA[WHERE TO_CHAR(GR.BORROW, 'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		AND TO_CHAR(GR.RSV_END, 'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')
        AND PG.DELETE_YN = 'N')]]> AS BOOK
	FROM EMPLOYEE
	WHERE ROWNUM = 1
  </select>
  
  <!-- 추가된 게시글 -->
  <select id="selectBoardList" resultType="BoardVo">
  	SELECT B.*, RECOMMEND_CNT FROM BOARD B 
  	JOIN (SELECT NO, COUNT(M_NO) AS RECOMMEND_CNT FROM board_recommend GROUP BY NO) R 
  	ON B.NO = R.NO ORDER BY B.ENROLL_DATE DESC
  </select>
</mapper>
