<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminGoodsMapper">
	<select id="selectGoodsTotal" resultType="int">
		<choose>
		<when test='sort == "p"'>
			SELECT COUNT(*) FROM PUBLIC_PLACE WHERE DELETE_YN = 'N'
		</when>
		<otherwise>
			SELECT COUNT(*) FROM PUBLIC_GOODS WHERE DELETE_YN = 'N'
		</otherwise>
		</choose>
	</select>

	<select id="selectGoodsList" resultType="com.kh.checkmine.reservation.vo.GoodsVo">
			SELECT PG.*, NVL(CNT, 0) CNT FROM PUBLIC_GOODS PG
         LEFT OUTER JOIN (
         SELECT GOODS_NO, COUNT(NO) CNT FROM GOODS_RESERVATION 
         <![CDATA[WHERE TO_CHAR(BORROW,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
             GROUP BY GOODS_NO
         ) GR ON PG.NO = GR.GOODS_NO WHERE PG.DELETE_YN = 'N'
         ORDER BY PG.NO
	</select>
	
	<select id="selectPlaceList" resultType="com.kh.checkmine.reservation.vo.PlaceVo">
			SELECT PP.*, NVL(CNT, 0) CNT FROM PUBLIC_PLACE PP
         LEFT OUTER JOIN (
         SELECT PL_NO, COUNT(NO) CNT FROM PLACE_RESERVATION
         <![CDATA[WHERE TO_CHAR(RSV_BEGIN,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
             GROUP BY pl_no
         ) PR ON PP.NO = PR.PL_NO WHERE PP.DELETE_YN = 'N'
         ORDER BY PP.NO
	</select>
	
	<select id="selectPlaceBook" resultType="com.kh.checkmine.reservation.vo.PlaceBookVo">
		SELECT P.NO, P.PL_NO, E.NAME EMP_NO, TO_CHAR(P.RSV_BEGIN, 'YYYY-MM-DD HH24:MI') RSV_BEGIN, TO_CHAR(P.RSV_END, 'YYYY-MM-DD HH24:MI') RSV_END, P.RSV_DATE FROM PLACE_RESERVATION P
		  JOIN EMPLOYEE E ON E.NO = P.EMP_NO
		  <![CDATA[WHERE TO_CHAR(RSV_BEGIN,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
		  AND PL_NO = #{no}
	
	</select>
	
	<select id="selectGoodsBook" resultType="com.kh.checkmine.reservation.vo.GoodsBookVo">
		 SELECT G.NO, E.NAME E_NO, G.GOODS_NO, TO_CHAR(G.BORROW, 'YYYY-MM-DD HH24:MI') BORROW, TO_CHAR(G.RSV_END, 'YYYY-MM-DD HH24:MI') RSV_END, G.RSV_DATE FROM GOODS_RESERVATION G
			  JOIN EMPLOYEE E ON E.NO = G.E_NO
			  <![CDATA[WHERE TO_CHAR(BORROW,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
			  AND G.GOODS_NO = #{no}
	</select>
	
	<update id="deletePlace">
		UPDATE PUBLIC_PLACE SET DELETE_YN = 'Y'
		WHERE NO = #{placeNo}
	</update>
	
	<update id="deleteGoods">
		UPDATE PUBLIC_GOODS SET DELETE_YN = 'Y'
		WHERE NO = #{goodsNo}
	</update>
	
	<insert id="addList">
		INSERT INTO 
		<choose>
			<when test="type == 'place'">
				PUBLIC_PLACE(NO, NAME, CONTENT)
				VALUES(SEQ_PLACE_NO.NEXTVAL, #{name}, #{content}) 
			</when>
			<otherwise>
				PUBLIC_GOODS(NO, NAME, NOTE)
				VALUES(SEQ_GOODS_NO.NEXTVAL, #{name}, #{content}) 
			</otherwise>
		</choose>
		
	</insert>
	
	<select id="selectGoodsTotalKeyword" parameterType="HashMap" resultType="int">
		SELECT COUNT(NO) FROM PUBLIC_GOODS WHERE DELETE_YN = 'N'
		<choose>
			<when test="option == 'name'">
				AND NAME LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				AND NOTE LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSearchGoodsList" parameterType="HashMap" resultType="com.kh.checkmine.reservation.vo.GoodsVo">
		SELECT PG.*, NVL(CNT, 0) CNT FROM PUBLIC_GOODS PG
         LEFT OUTER JOIN (
         SELECT GOODS_NO, COUNT(NO) CNT FROM GOODS_RESERVATION 
          <![CDATA[WHERE TO_CHAR(BORROW,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
             GROUP BY GOODS_NO
         ) GR ON PG.NO = GR.GOODS_NO WHERE PG.DELETE_YN = 'N'
         <choose>
			<when test="option == 'name'">
				AND NAME LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				AND NOTE LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
         ORDER BY PG.NO
	</select>
	
	<select id="selectPlaceTotalKeyword" parameterType="HashMap" resultType="int">
		SELECT COUNT(NO) FROM PUBLIC_PLACE WHERE DELETE_YN = 'N'
		<choose>
			<when test="option == 'name'">
				AND NAME LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				AND CONTENT LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectSearchPlaceList" parameterType="HashMap" resultType="com.kh.checkmine.reservation.vo.PlaceVo">
		SELECT PP.*, NVL(CNT, 0) CNT FROM PUBLIC_PLACE PP
         LEFT OUTER JOIN (
         SELECT PL_NO, COUNT(NO) CNT FROM PLACE_RESERVATION
         <![CDATA[WHERE TO_CHAR(RSV_BEGIN,'YYYY-MM-DD') <= TO_CHAR(SYSDATE, 'YYYY-MM-DD') AND  TO_CHAR(RSV_END,'YYYY-MM-DD') >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
             GROUP BY pl_no
         ) PR ON PP.NO = PR.PL_NO WHERE PP.DELETE_YN = 'N'
         <choose>
			<when test="option == 'name'">
				AND NAME LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				AND CONTENT LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
         ORDER BY PP.NO
	</select>
	
	<select id="selectBookListByDate" resultType="com.kh.checkmine.reservation.vo.PlaceBookVo">
		SELECT PP.NAME PL_NO, E.NAME EMP_NO, TO_CHAR(P.RSV_BEGIN, 'YYYY.MM.DD HH24:MI') RSV_BEGIN, 
	    TO_CHAR(P.RSV_END, 'YYYY.MM.DD HH24:MI') RSV_END, 
	    TO_CHAR(P.RSV_DATE, 'YYYY.MM.DD HH24:MI') RSV_DATE
	    FROM PLACE_RESERVATION P 
	    JOIN EMPLOYEE E ON P.EMP_NO = E.NO
	    JOIN PUBLIC_PLACE PP ON p.pl_no = PP.NO   
	    WHERE P.RSV_DATE >= TO_CHAR(SYSDATE, 'YYYY.MM.DD') 
	    ORDER BY P.RSV_DATE DESC

	</select>

</mapper>