<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<select id="selectCountApAll" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL
		WHERE
			(
			FIRST_APPROVER = #{employeeNo}
			OR SECOND_APPROVER = #{employeeNo}
			OR THIRD_APPROVER = #{employeeNo}
			OR FINAL_APPROVER = #{employeeNo}
			)
			AND STATUS = '대기'
	</select>
	
	<select id="selectApListAll" resultType="ApprovalDocVo">
		SELECT 
		    D.NO
		    ,E.NAME WRITER_NO
		    ,D.TITLE
		    ,D."DATE"
		    ,T."NAME" TYPE
		FROM AP_DOC D
		JOIN APPROVAL A
		ON D.NO = A.DOC_NO
		JOIN EMPLOYEE E
		ON D.WRITER_NO = E.NO
		JOIN AP_TYPE T
		ON D."TYPE" = T."TYPE"
		WHERE
		    (
			    (FINAL_DATE IS NULL AND FINAL_APPROVER = #{employeeNo})
			    OR (FIRST_DATE IS NULL AND FIRST_APPROVER = #{employeeNo})
			    OR (FIRST_DATE IS NOT NULL AND FINAL_APPROVER = #{employeeNo})
			    OR (FIRST_DATE IS NOT NULL AND SECOND_APPROVER = #{employeeNo})
			    OR (SECOND_DATE IS NOT NULL AND FINAL_APPROVER = #{employeeNo})
			    OR (SECOND_DATE IS NOT NULL AND THIRD_APPROVER = #{employeeNo})
			    OR (THIRD_DATE IS NOT NULL AND FINAL_APPROVER = #{employeeNo})
			)
		    AND A.STATUS = '대기'
		ORDER BY D."DATE" DESC
	</select>
	
	<select id="selectDoc" resultType="ApprovalDocVo">
		SELECT *
		FROM AP_DOC
		WHERE NO = #{dno}
	</select>
	
	<select id="selectAp" resultType="ApprovalVo">
		SELECT *
		FROM APPROVAL
		WHERE DOC_NO = #{dno}
		AND STATUS = '대기'
	</select>
	
	<select id="selectDraft" resultType="ApprovalDraftVo">
		SELECT *
		FROM DRAFT
		WHERE NO = #{dno}
	</select>
	
	<select id="selectWriter" resultType="MemberVo">
		SELECT *
		FROM EMPLOYEE
		WHERE NO = #{writerNo}
		AND RESIGN_YN = 'N'
	</select>
	
	<select id="selectProposal" resultType="ApprovalProposalVo">
		SELECT *
		FROM PROPOSAL
		WHERE NO = #{dno}
	</select>
	
	<select id="selectMinutes" resultType="ApprovalMinutesVo">
		SELECT *
		FROM MINUTES
		WHERE NO = #{dno}
	</select>
	
	<select id="selectExpenditure" resultType="ApprovalExpenditureVo">
		SELECT *
		FROM EXPENDITURE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectBuyOrder" resultType="ApprovalBuyOrderVo">
		SELECT *
		FROM BUY_ORDER
		WHERE NO = #{dno}
	</select>
	
	<select id="selectState" resultType="ApprovalStateVo">
		SELECT *
		FROM STATE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectLeave" resultType="ApprovalLeaveVo">
		SELECT *
		FROM LEAVE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectEmpList" resultType="MemberVo">
		SELECT *
		FROM EMPLOYEE
		WHERE NAME LIKE '%${approver}%'
	</select>
	
	<update id="updateReturn">
		UPDATE APPROVAL
		SET
		    FINAL_DATE = SYSDATE
		    ,STATUS = '반려'
		    ,RETURN_REASON = #{returnReason}
		 WHERE "NO" = #{no}
	</update>
	
	<update id="updateStatus">
		UPDATE APPROVAL
		SET
			FINAL_DATE = SYSDATE
			,STATUS = '승인'
		WHERE "NO" = #{no}
	</update>
	
	<update id="updateDate1">
		UPDATE APPROVAL
		SET
			FIRST_DATE = SYSDATE
		WHERE "NO" = #{no}
	</update>
	
	<update id="updateDate2">
		UPDATE APPROVAL
		SET
			SECOND_DATE = SYSDATE
		WHERE "NO" = #{no}
	</update>
	
	<update id="updateDate3">
		UPDATE APPROVAL
		SET
			THIRD_DATE = SYSDATE
		WHERE "NO" = #{no}
	</update>
	
	<insert id="insertDoc">
		INSERT INTO AP_DOC
		 (
		     NO
		    ,WRITER_NO
		    ,TITLE
		    ,"DATE"
		    ,"TYPE"  
		 )
		 VALUES
		 (
		    SEQ_DOC_NO.NEXTVAL
		    ,#{writerNo}
		    ,#{title}
		    ,SYSDATE
		    ,#{type}
		 )
	</insert>
	
	<insert id="insertApproval">
		INSERT INTO APPROVAL
		 (
		     NO
		    ,DOC_NO
		    ,FIRST_APPROVER
		    ,SECOND_APPROVER
		    ,THIRD_APPROVER
		    ,FINAL_APPROVER
		    ,STATUS
		 )
		 VALUES
		 (
		    SEQ_APP_NO.NEXTVAL
		    ,SEQ_DOC_NO.CURRVAL
		    ,#{firstApprover}
		    ,#{secondApprover}
		    ,#{thirdApprover}
		    ,#{finalApprover}
		    ,'대기'
		 )
	</insert>
	
	<insert id="insertDraft">
		INSERT INTO DRAFT
		(
		    NO
		    ,DEPARTMENT
		    ,"CONTENT"
		)
		VALUES
		(
		    SEQ_DOC_NO.CURRVAL
		    ,#{department}
		    ,#{content}
		)
	</insert>
	
	<insert id="insertFile">
		INSERT INTO AP_FILE
		(
		    NO
		    ,DOC_NO
		    ,"NAME"
		    ,FPATH
		)
		VALUES
		(
		    SEQ_AP_FILE_NO.NEXTVAL
		    ,SEQ_DOC_NO.CURRVAL
		    ,#{fileName}
		    ,#{fpath}
		)
	</insert>
	
	<select id="selectCurrentDoc" resultType="ApprovalDocVo">
		SELECT *
		FROM
		(
		    SELECT *
		    FROM AP_DOC
		    ORDER BY NO DESC
		)
		WHERE ROWNUM = 1
	</select>
	
	<select id="selectFiles" resultType="ApprovalFileVo">
		SELECT
			NO
			,DOC_NO
			,"NAME" FILE_NAME
			,FPATH
		FROM AP_FILE
		WHERE DOC_NO = #{dno}
	</select>

</mapper>
