<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<select id="selectCountApAll" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL
		WHERE
			(
			FIRST_APPROVER = #{employeeNo}
			OR SECOND_APPROVER = #{employeeNo}
			OR THIRD_APPROVER = #{employeeNo}
			OR FINAL_APPROVER = #{employeeNo}
			)
			AND STATUS = '대기'
	</select>
	
	<select id="selectApListAll" resultType="ApprovalDocVo">
		SELECT 
		    D.NO
		    ,E.NAME WRITER_NO
		    ,D.TITLE
		    ,D."DATE"
		    ,T."NAME" TYPE
		FROM AP_DOC D
		JOIN APPROVAL A
		ON D.NO = A.DOC_NO
		JOIN EMPLOYEE E
		ON D.WRITER_NO = E.NO
		JOIN AP_TYPE T
		ON D."TYPE" = T."TYPE"
		WHERE
		    (A.FIRST_APPROVER = 2
		    OR A.SECOND_APPROVER = 2
		    OR A.THIRD_APPROVER = 2
		    OR A.FINAL_APPROVER = 2)
		    AND A.STATUS = '대기'
		ORDER BY D."DATE" DESC
	</select>
	
	<select id="selectDoc" resultType="ApprovalDocVo">
		SELECT *
		FROM AP_DOC
		WHERE NO = #{dno}
	</select>
	
	<select id="selectAp" resultType="ApprovalVo">
		SELECT *
		FROM APPROVAL
		WHERE DOC_NO = #{dno}
		AND STATUS = '대기'
	</select>
	
	<select id="selectDraft" resultType="ApprovalDraftVo">
		SELECT *
		FROM DRAFT
		WHERE NO = #{dno}
	</select>
	
	<select id="selectWriter" resultType="MemberVo">
		SELECT *
		FROM EMPLOYEE
		WHERE NO = #{writerNo}
		AND RESIGN_YN = 'N'
	</select>
	
	<select id="selectProposal" resultType="ApprovalProposalVo">
		SELECT *
		FROM PROPOSAL
		WHERE NO = #{dno}
	</select>
	
	<select id="selectMinutes" resultType="ApprovalMinutesVo">
		SELECT *
		FROM MINUTES
		WHERE NO = #{dno}
	</select>
	
	<select id="selectExpenditure" resultType="ApprovalExpenditureVo">
		SELECT *
		FROM EXPENDITURE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectBuyOrder" resultType="ApprovalBuyOrderVo">
		SELECT *
		FROM BUY_ORDER
		WHERE NO = #{dno}
	</select>
	
	<select id="selectState" resultType="ApprovalStateVo">
		SELECT *
		FROM STATE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectLeave" resultType="ApprovalLeaveVo">
		SELECT *
		FROM LEAVE
		WHERE NO = #{dno}
	</select>
	
	<select id="selectEmpList" resultType="MemberVo">
		SELECT *
		FROM EMPLOYEE
		WHERE NAME LIKE '%${approver}%'
	</select>
	
	<update id="updateReturn">
		UPDATE APPROVAL
		SET
		    FINAL_DATE = SYSDATE
		    ,STATUS = '반려'
		    ,RETURN_REASON = #{returnReason}
		 WHERE "NO" = #{no}
	</update>

</mapper>
