<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<select id="selectCountApAll" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL
		WHERE
			(
			FIRST_APPROVER = #{employeeNo}
			OR SECOND_APPROVER = #{employeeNo}
			OR THIRD_APPROVER = #{employeeNo}
			OR FINAL_APPROVER = #{employeeNo}
			)
			AND STATUS = '대기'
	</select>
	
	<select id="selectApListAll" resultType="ApprovalDocVo">
		SELECT 
		    D.NO
		    ,E.NAME WRITER_NO
		    ,D.TITLE
		    ,D."DATE"
		    ,T."NAME" TYPE
		FROM AP_DOC D
		JOIN APPROVAL A
		ON D.NO = A.DOC_NO
		JOIN EMPLOYEE E
		ON D.WRITER_NO = E.NO
		JOIN AP_TYPE T
		ON D."TYPE" = T."TYPE"
		WHERE
		    (A.FIRST_APPROVER = 2
		    OR A.SECOND_APPROVER = 2
		    OR A.THIRD_APPROVER = 2
		    OR A.FINAL_APPROVER = 2)
		    AND A.STATUS = '대기'
		ORDER BY D."DATE" DESC
	</select>

</mapper>
