<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
   <select id="selectBoardList" resultType="BoardVo">
  	SELECT B.NO, M.NAME WRITER, B.TITLE, B.CONTENT, B.HIT, TO_CHAR(B.ENROLL_DATE, 'YYYY.MM.DD HH:MI') AS ENROLL_DATE, 
  	TO_CHAR(B.MODIFY_DATE, 'YYYY.MM.DD HH:MI') AS MODIFY_DATE, NVL(RECOMMEND_CNT, 0) AS CNT, B.DELETE_YN, B.TYPE 
  	FROM BOARD B LEFT OUTER JOIN (SELECT NO, COUNT(M_NO) AS RECOMMEND_CNT FROM BOARD_RECOMMEND GROUP BY NO) R 
  	ON B.NO = R.NO JOIN MEMBER M ON M.NO = B.WRITER
  	WHERE DELETE_YN = 'N' 
  	<choose>
  		<when test='sort=="n"'>
  			AND TYPE='N'
  		</when>
  		<when test='sort=="c"'>
  			AND TYPE='C'
  		</when>
  		<when test='sort=="g"'>
  			AND TYPE='G'
  		</when>
  	</choose>
  	ORDER BY B.ENROLL_DATE DESC
  </select>
  
  
  <select id="selectBoardTotal" resultType="int">
  	SELECT COUNT(NO) FROM BOARD WHERE DELETE_YN = 'N'
  	<choose>
  		<when test='sort=="n"'>
  			AND TYPE='N'
  		</when>
  		<when test='sort=="c"'>
  			AND TYPE='C'
  		</when>
  		<when test='sort=="g"'>
  			AND TYPE='G'
  		</when>
  	</choose>

  </select>
  
  
  
  <update id="deleteBoard">
  	UPDATE BOARD SET DELETE_YN = 'Y' WHERE NO=#{BOARDNO}
  </update>
  
  
  <select id="selectBoardKeyword" parameterType="HashMap" resultType="BoardVo">
  	SELECT B.NO, M.NAME WRITER, B.TITLE, B.CONTENT, B.HIT, TO_CHAR(B.ENROLL_DATE, 'YYYY.MM.DD HH:MI') AS ENROLL_DATE, TO_CHAR(B.MODIFY_DATE, 'YYYY.MM.DD HH:MI') AS MODIFY_DATE, B.DELETE_YN, B.TYPE FROM BOARD B 
	JOIN MEMBER M ON M.NO = B.WRITER WHERE B.DELETE_YN = 'N' 
  	<choose>
  		<when test='option=="title"'>
  			AND TITLE LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="content"'>
  			AND CONTENT LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="writer"'>
  			AND NAME LIKE '%'||#{keyword}||'%'
  		</when>
  	</choose>
  	ORDER BY B.ENROLL_DATE DESC
  
  </select>
  
  <select id="selectTotalKeyword" parameterType="HashMap" resultType="int">
	  SELECT COUNT(B.NO) FROM BOARD B JOIN MEMBER M ON M.NO = B.WRITER WHERE B.DELETE_YN = 'N'
	  	<choose>
  		<when test='option=="title"'>
  			AND B.TITLE LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="content"'>
  			AND B.CONTENT LIKE '%'||#{keyword}||'%'
  		</when>
  		<when test='option=="writer"'>
  			AND NAME LIKE '%'||#{keyword}||'%'
  		</when>
  	</choose>

  </select>
  
  <insert id="insertBoard">
  	INSERT INTO BOARD(NO, WRITER, TITLE, CONTENT, TYPE) 
  	VALUES(SEQ_BOARD_NO.NEXTVAL, #{writer}, #{title}, #{content}, #{type})
  </insert>
  
 <insert id="insertBoardAtt" parameterType="java.util.List">
 	INSERT INTO BOARD_ATT(NO, B_NO, NAME, FILE_PATH) 
 	select SEQ_BATT_NO.NEXTVAL, A.* from(
 	<foreach collection="list" item="item" separator="UNION ALL ">
 	select 1 as B_NO,
 	#{item.name} as name, #{item.filePath} as FILE_PATH from dual
 	</foreach>) A
 </insert>
  
</mapper>
