<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commuteMapper">
	
	<select id="selectList" resultType="CommuteVo">
		SELECT
		    C.NO
		    , C.ARRIVED, TO_CHAR(SYSDATE, 'HH-MI')
		    , C.LEAVE, TO_CHAR(SYSDATE, 'HH-MI')
		    , C.WORK_DATE, TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		    , E.NAME AS EMP_NO
		FROM COMMUTE C
		JOIN EMPLOYEE E
		ON C.EMP_NO = E.NO
	</select>
	
</mapper>