<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mailSearchMapper">
	<select id="selectSearchList" resultType="com.kh.checkmine.mail.vo.MailSearchVo">
		SELECT * FROM
		((SELECT 
		    NO
		    , 'ME' AS SENDER
		    , TITLE
		    , CONTENT
		    , SEND_DATE
		    , 'S' AS TYPE
		    , 'S' AS READ
		    , 'S' AS IMPORTANCE
		FROM MAIL
		WHERE S_STATUS = 'N' AND SENDER = #{memberNo} AND (TITLE LIKE '%' ||  #{keyword} || '%' OR CONTENT LIKE '%' ||  #{keyword} || '%')
		)
		UNION ALL
		(
		SELECT
		    MR.NO
		    , E.EMAIL AS SENDER
		    , M.TITLE
		    , M.CONTENT
		    , M.SEND_DATE AS
		    , MR.TYPE
		    , MR.READ
		    , MR.IMPORTANCE
		FROM MAIL_REF MR
		INNER JOIN MAIL M ON MR.MAIL_NO = M.NO
		INNER JOIN EMPLOYEE E ON M.SENDER = E.NO
		WHERE MR.STATUS = 'N' AND MR.RECEIVER = #{memberNo} AND (E.EMAIL LIKE '%' ||  #{keyword} || '%' OR M.TITLE LIKE '%' ||  #{keyword} || '%' OR M.CONTENT LIKE '%' ||  #{keyword} || '%')
		)) 
		ORDER BY SEND_DATE DESC
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT count(*) FROM
		((SELECT 
		    NO
		    , 'ME' AS SENDER
		    , TITLE
		    , CONTENT
		    , SEND_DATE
		    , 'S' AS TYPE
		    , 'S' AS READ
		    , 'S' AS IMPORTANCE
		FROM MAIL
		WHERE S_STATUS = 'N' AND SENDER = #{memberNo} AND (TITLE LIKE '%' ||  #{keyword} || '%' OR CONTENT LIKE '%' ||  #{keyword} || '%')
		)
		UNION ALL
		(
		SELECT
		    MR.NO
		    , E.EMAIL AS SENDER
		    , M.TITLE
		    , M.CONTENT
		    , M.SEND_DATE AS
		    , MR.TYPE
		    , MR.READ
		    , MR.IMPORTANCE
		FROM MAIL_REF MR
		INNER JOIN MAIL M ON MR.MAIL_NO = M.NO
		INNER JOIN EMPLOYEE E ON M.SENDER = E.NO
		WHERE MR.STATUS = 'N' AND MR.RECEIVER = #{memberNo} AND (E.EMAIL LIKE '%' ||  #{keyword} || '%' OR M.TITLE LIKE '%' ||  #{keyword} || '%' OR M.CONTENT LIKE '%' ||  #{keyword} || '%')
		)) 
		ORDER BY SEND_DATE DESC
	</select>
</mapper>