<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	<select id="selectReceveListCount" resultType="int">
		SELECT COUNT(*) FROM MAIL_REF WHERE STATUS='N' AND TYPE='A' AND RECEIVER=#{no}
	</select>
	
	<select id="selectRefListCount" resultType="int">
		SELECT COUNT(*) FROM MAIL_REF WHERE STATUS='N' AND TYPE='R' AND RECEIVER=#{memberNo}
	</select>
	
	<select id="selectReceiveList" resultType="com.kh.checkmine.mail.vo.ReceiveMailVo">
		SELECT 
		    MR.NO,
		    MR.MAIL_NO,
		    MR.RECEIVER,
		    MR.TYPE,
		    MR.READ,
		    MR.STATUS,
		    MR.IMPORTANCE,
		    M.SENDER,
		    M.TITLE,
		    M.CONTENT,
		    M.S_STATUS,
		    M.SEND_DATE,
		    E.EMAIL AS SENDER_EMAIL
		FROM MAIL_REF MR
		INNER JOIN MAIL M
		ON MR.MAIL_NO = M.NO
		INNER JOIN EMPLOYEE E
		ON M.SENDER = E.NO
		WHERE MR.STATUS = 'N'
		AND MR.TYPE = 'A'
		AND mr.receiver = #{memberNo}
		ORDER BY M.SEND_DATE DESC
	</select>
	
	<select id="selectRefList" resultType="com.kh.checkmine.mail.vo.ReceiveMailVo">
		SELECT 
		    MR.NO,
		    MR.MAIL_NO,
		    MR.RECEIVER,
		    MR.TYPE,
		    MR.READ,
		    MR.STATUS,
		    MR.IMPORTANCE,
		    M.SENDER,
		    M.TITLE,
		    M.CONTENT,
		    M.S_STATUS,
		    M.SEND_DATE,
		    E.EMAIL AS SENDER_EMAIL
		FROM MAIL_REF MR
		INNER JOIN MAIL M
		ON MR.MAIL_NO = M.NO
		INNER JOIN EMPLOYEE E
		ON M.SENDER = E.NO
		WHERE MR.STATUS = 'N'
		AND MR.TYPE = 'R'
		AND mr.receiver = #{memberNo}
		ORDER BY M.SEND_DATE DESC
	</select>
	
	<update id="upadteImportance">
		UPDATE MAIL_REF
		SET
			IMPORTANCE = #{importance}
		WHERE
            NO = #{mailNum}
	</update>
	
	<update id="upadteMailRefStatus">
		UPDATE MAIL_REF SET STATUS='Y' WHERE NO=#{targetMail}
	</update>
	
	<select id="selectNotReadCount" resultType="int">
		SELECT COUNT(*) FROM MAIL_REF WHERE STATUS='N' AND READ = 'N' AND RECEIVER=#{memberNo} AND TYPE=#{type}
	</select>
</mapper>
