<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailSendMapper">
	<insert id="insertMail">
		INSERT INTO MAIL(
			NO,
			SENDER,
			TITLE,
			CONTENT
		)VALUES(
			SEQ_MAIL.NEXTVAL,
			#{empNo},
			#{title},
			#{content}
		)
	</insert>
	
	<select id="selectCurrentMailNum" resultType="string">
		SELECT SEQ_MAIL.CURRVAL FROM DUAL
	</select>
	
	<select id="selectEmpNoToEmail" resultType="string">
		SELECT NO FROM EMPLOYEE WHERE EMAIL = #{empEmail}
	</select>
	
	<insert id="insertMailRefA">
		INSERT INTO MAIL_REF(
			NO,
			MAIL_NO,
			RECEIVER,
			TYPE
		)VALUES(
			SEQ_MAIL_REF.NEXTVAL,
			#{currentMailNum},
			#{receiver},
			'A'
		)
	</insert>
	
	<insert id="insertMailRefR">
		INSERT INTO MAIL_REF(
			NO,
			MAIL_NO,
			RECEIVER,
			TYPE
		)VALUES(
			SEQ_MAIL_REF.NEXTVAL,
			#{currentMailNum},
			#{refer},
			'R'
		)
	</insert>
	
	<insert id="insertMailAtt" parameterType="hashMap">
		INSERT INTO MAIL_ATT(
			NO
			,MAIL_NO
			,NAME
			,PATH
			,REAL_NAME
		)VALUES(
			SEQ_MAIL_ATT.NEXTVAL
			, #{mailNo}
			, #{name}
			, #{path}
			, #{realName}
		)
	</insert>
</mapper>