<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
 
 	<select id="selectOneById" resultType="MemberVo">
	  	SELECT
	          E.NO
	        , P.NAME POS_NO
	        , D.NAME DEPT_NO
	        , E.ID
	        , E.PWD
	        , E.NAME
	        , E.EMAIL
	        , E.PHONE
	        , E.ADDRESS
	        , E.ADDRESS_DETAIL
	        , E.MODIFY_DATE
	        , E.ENROLL_DATE
	        , E.RESIGN_DATE
	        , E.RESIGN_YN
	        , E.PHOTO_NAME
	        , E.PHOTO_PATH
	        , E.PERMISSION
		FROM EMPLOYEE E, POSITION P, DEPARTMENT D
		WHERE E.POS_NO = P.NO
		AND E.DEPT_NO = D.NO
		AND E.ID = #{id}
		AND E.RESIGN_YN = 'N'
  </select>
  
  <update id="updatePwd">
  	UPDATE EMPLOYEE
  		SET PWD = #{pwd}
 		WHERE NO = #{no} 
  </update>
  
  <update id="updateInfo">
  	UPDATE EMPLOYEE
  		SET EMAIL = #{email}
  			, PHONE = #{phone}
  			, ADDRESS = #{address}
  			, ADDRESS_DETAIL = #{addressDetail}
 		WHERE NO = #{no} 
  </update>
  
  <update id="updatePhoto">
  	UPDATE EMPLOYEE
  		SET
  			  PHOTO_NAME = #{photoName}
  			, MODIFY_DATE = SYSDATE
  		WHERE NO = #{no}
  </update>
  
  <select id="selectOneByNo" resultType="MemberVo">
  	SELECT
	          E.NO
	        , P.NAME POS_NO
	        , D.NAME DEPT_NO
	        , E.ID
	        , E.PWD
	        , E.NAME
	        , E.EMAIL
	        , E.PHONE
	        , E.ADDRESS
	        , E.ADDRESS_DETAIL
	        , E.MODIFY_DATE
	        , E.ENROLL_DATE
	        , E.RESIGN_DATE
	        , E.RESIGN_YN
	        , E.PHOTO_NAME
	        , E.PHOTO_PATH
	        , E.PERMISSION
		FROM EMPLOYEE E, POSITION P, DEPARTMENT D
		WHERE E.POS_NO = P.NO
		AND E.DEPT_NO = D.NO
		AND E.NO = #{no}
		AND E.RESIGN_YN = 'N'
  </select>
  
  <select id="selectIdByMail" resultType="string">
  	SELECT
  		ID
  	FROM EMPLOYEE
  	WHERE EMAIL=#{email}
  </select>
 
</mapper>
