<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personnelMapper">
 
 	<select id="selectMemberList" resultType="MemberVo">
	  	SELECT
	          E.NO
	        , P.NAME POS_NO
	        , D.NAME DEPT_NO
	        , E.ID
	        , E.NAME
	        , E.ENROLL_DATE
	        , E.RESIGN_YN
		FROM EMPLOYEE E, POSITION P, DEPARTMENT D
		WHERE E.POS_NO = P.NO
		AND E.DEPT_NO = D.NO
		ORDER BY E.NO DESC
  </select>
  
  <select id="selectAccountList" resultType="AccountVo">
  	SELECT
  		  NO
  		, CORPORATE
  		, TEL
  		, FAX
  		, PNAME
  		, EMAIL
  		, DELETE_YN
  	FROM ACCOUNT
  	WHERE DELETE_YN = 'N'
  	ORDER BY NO DESC
  </select>
  
  <select id="selectOneByNo" resultType="MemberVo">
  	SELECT
         NO
       , DEPT_NO
       , POS_NO
       , NAME
       , EMAIL
       , PHONE
    FROM EMPLOYEE
    WHERE NO = #{no}
  </select>
  
  <select id="selectAccByNo" resultType="AccountVo">
  	SELECT
  		  NO
  		, CORPORATE
  		, ADDRESS
  		, TEL
  		, FAX
  		, PNAME
  		, DEPT
  		, POSITION
  		, PHONE
  		, EMAIL
  	FROM ACCOUNT
  	WHERE DELETE_YN = 'N'
  	AND NO = #{no}
  </select>
  
  <insert id="insertAcc">
  	INSERT
  		INTO ACCOUNT
  		(
  			  NO
  			, CORPORATE
  			, ADDRESS
  			, TEL
  			, FAX
  			, PNAME
  			, DEPT
  			, POSITION
  			, PHONE
  			, EMAIL
  		)
  		VALUES
  		(
  			  SEQ_ACC_NO.NEXTVAL
  			, #{corporate}
  			, #{address}
  			, #{tel}
  			, #{fax}
  			, #{pname}
  			, #{dept}
  			, #{position}
  			, #{phone}
  			, #{email}  
  		)	
  </insert>
  
  <update id="editEmp">
  	UPDATE
		EMPLOYEE
		SET
			  DEPT_NO = #{deptNo}
			, POS_NO = #{posNo}
			, EMAIL = #{email}
			, PHONE = #{phone}
		WHERE NO = #{no}
  </update>
  
  <update id="editAcc">
  	UPDATE
  		ACCOUNT
  		SET
  			  CORPORATE = #{corporate}
  			, ADDRESS = #{address}
  			, TEL = #{tel}
  			, FAX = #{fax}
  			, PNAME = #{pname}
  			, DEPT = #{dept}
  			, POSITION = #{position}
  			, PHONE = #{phone}
  			, EMAIL = #{email}
  		WHERE NO = #{no}
  </update>
  
  <update id="delAcc" parameterType="java.util.List">
  	UPDATE
  		ACCOUNT
  		SET
  			DELETE_YN = 'Y'
  		WHERE NO IN
  		<foreach collection="abc" item="item" index="index" separator="," open="(" close=")">
  			#{item}
  		</foreach>
  </update>
  
  <select id="selectMemberListByRsn" resultType="MemberVo">
  	SELECT
          E.NO
        , P.NAME POS_NO
        , D.NAME DEPT_NO
        , E.ID
        , E.NAME
        , E.ENROLL_DATE
        , E.RESIGN_YN
	FROM EMPLOYEE E, POSITION P, DEPARTMENT D
	WHERE E.POS_NO = P.NO
	AND E.DEPT_NO = D.NO
	AND E.RESIGN_YN = #{rsn}
	ORDER BY E.NO DESC
  </select>
  
  <select id="selectMemberListBySearch" resultType="MemberVo">
  	SELECT
          E.NO
        , P.NAME POS_NO
        , D.NAME DEPT_NO
        , E.ID
        , E.NAME
        , E.ENROLL_DATE
        , E.RESIGN_YN
	FROM EMPLOYEE E, POSITION P, DEPARTMENT D
	WHERE E.POS_NO = P.NO
	AND E.DEPT_NO = D.NO
	AND ${type} LIKE '%${text}%'
	ORDER BY E.NO DESC
  </select>
  
  <select id="selectAccountListBySearch" resultType="AccountVo">
  	SELECT
  		  NO
  		, CORPORATE
  		, TEL
  		, FAX
  		, PNAME
  		, EMAIL
  		, DELETE_YN
  	FROM ACCOUNT
  	WHERE DELETE_YN = 'N'
  	AND ${type} LIKE '%${text}%'
  	ORDER BY NO DESC
  </select>
 
</mapper>
