<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationGoodsMapper">
	
	<select id="selectListGoods" resultType="GoodsBookVo">
		SELECT
		    GR.NO
		    , TO_CHAR(GR.BORROW, 'HH24:MI') BORROW
		    , TO_CHAR(GR.RSV_END, 'HH24:MI') RSV_END
		    , TO_CHAR(GR.RSV_DATE, 'YYYY-MM-DD') RSV_DATE
		    , PG.NAME NAME
		FROM GOODS_RESERVATION GR
		JOIN EMPLOYEE E
		    ON GR.E_NO = E.NO
		JOIN PUBLIC_GOODS PG
		    ON GR.GOODS_NO = PG.NO
		WHERE GR.E_NO = #{eNo}
		ORDER BY RSV_DATE DESC
	</select>
	
	<delete id="goodsDelbtn">
		DELETE FROM GOODS_RESERVATION
		WHERE E_NO = #{eNo} AND NO = #{no}
	</delete>
	
	<select id="selectBimList" resultType="GoodsVo">
		SELECT NO, NAME FROM PUBLIC_GOODS WHERE TYPE = 'B'
	</select>
	
	<select id="selectCarList" resultType="GoodsVo">
		SELECT NO, NAME FROM PUBLIC_GOODS WHERE TYPE = 'C'
	</select>
	
	<insert id="insertRsvb">
		INSERT INTO GOODS_RESERVATION(
		NO, E_NO, GOODS_NO, BORROW, RSV_END, RSV_DATE)
		 VALUES(SEQ_GOODS_RES_NO.NEXTVAL, #{eNo}, #{goodsNo}, TO_DATE(#{borrow}, 'HH24:MI'),
		  TO_DATE(#{rsvEnd}, 'HH24:MI'), TO_DATE(#{rsvDate}, 'YYYY-MM-DD'))
	</insert>
	
	<insert id="insertRsvc">
		INSERT INTO GOODS_RESERVATION(
		NO, E_NO, GOODS_NO, BORROW, RSV_END, RSV_DATE)
		 VALUES(SEQ_GOODS_RES_NO.NEXTVAL, #{eNo}, #{goodsNo}, TO_DATE(#{borrow}, 'HH24:MI'),
		  TO_DATE(#{rsvEnd}, 'HH24:MI'), TO_DATE(#{rsvDate}, 'YYYY-MM-DD'))
	</insert>
	
	<select id="selectListBimRsv" resultType="GoodsBookVo">
		SELECT 
		    GR.NO
		    , PG.NAME
		    , TO_CHAR(GR.BORROW, 'HH24:MI') BORROW
		    , TO_CHAR(GR.RSV_END, 'HH24:MI') RSV_END
		    , TO_CHAR(GR.RSV_DATE, 'YYYY-MM-DD') RSV_DATE
		    , E.NAME E_NO
		    , D.NAME DEPT_NAME
            , GR.GOODS_NO
		FROM GOODS_RESERVATION GR
		JOIN EMPLOYEE E
		ON GR.E_NO = E.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		JOIN PUBLIC_GOODS PG
		ON GR.GOODS_NO = PG.NO
		WHERE TYPE = 'B'
		ORDER BY RSV_DATE DESC
	</select>
	
	<select id="selectListCarRsv" resultType="GoodsBookVo">
		SELECT 
		    GR.NO
		    , PG.NAME
		    , TO_CHAR(GR.BORROW, 'HH24:MI') BORROW
		    , TO_CHAR(GR.RSV_END, 'HH24:MI') RSV_END
		    , TO_CHAR(GR.RSV_DATE, 'YYYY-MM-DD') RSV_DATE
		    , E.NAME E_NO
		    , D.NAME DEPT_NAME
		FROM GOODS_RESERVATION GR
		JOIN EMPLOYEE E
		ON GR.E_NO = E.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		JOIN PUBLIC_GOODS PG
		ON GR.GOODS_NO = PG.NO
		WHERE TYPE = 'C'
		ORDER BY RSV_DATE DESC
	</select>
	
	<select id="bimrsvTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM GOODS_RESERVATION GR
		JOIN PUBLIC_GOODS PG
		ON GR.GOODS_NO = PG.NO
		WHERE PG.TYPE = 'B'
	</select>
	
	<select id="carrsvTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM GOODS_RESERVATION GR
		JOIN PUBLIC_GOODS PG
		ON GR.GOODS_NO = PG.NO
		WHERE PG.TYPE = 'C'
	</select>
	
	<select id="goodsrsvTotalCount" resultType="int">
		SELECT COUNT(*)
      	FROM GOODS_RESERVATION
      	WHERE E_NO = #{eNo}
	</select>
	
	<select id="selectRevCount" resultType="int">
		SELECT COUNT(*) CNT
		FROM GOODS_RESERVATION
		WHERE GOODS_NO = 1
		AND RSV_DATE = #{rsvDate}
		AND <![CDATA[BORROW <= #{borrow}]]>
		AND <![CDATA[RSV_END >= #{rsvEnd}]]>
	</select>
	
</mapper>