<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taskReportMapper">

	<select id="selectWriteAttList" resultType="MemberVo">
		SELECT
		    E.NAME,
		    P.NAME AS POS_NO,
		    D.NAME AS DEPT_NO
		FROM EMPLOYEE E
		JOIN POSITION P
		ON E.POS_NO = P.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		WHERE RESIGN_YN = 'N'
	</select>
	
	<!-- 보고서 등록 -->
	<insert id="insertReport">
		INSERT INTO REPORT
		(
		    NO,
			TASK_NO,
			SENDER,
			TITLE,
			CONTENT
		)
		VALUES
		(
			SEQ_REP_NO.NEXTVAL,
		    #{taskNo},
		    #{sender},
		    #{title},
		    #{content}
		)
	</insert>
	
	<!-- 수신참조 등록 -->
	<insert id="insertReportAtt">
		INSERT INTO REPORT_ATT
 		(
	 		NO,
			EMP_NO,
			REP_NO,
			TYPE
		)
		VALUES
		(
			SEQ_REP_ATT_NO.NEXTVAL,
			#{empNo},
			SEQ_REP_NO.CURRVAL,
			#{type}
		)
	</insert>
	
	<!-- 파일 등록 -->
	<insert id="insertFile">
		INSERT INTO REPORT_FILE
 		(
 			NO,
			REP_NO,
			NAME,
			PATH
 		)
 		VALUES
 		(
 			SEQ_REP_FILE_NO.NEXTVAL,
 			SEQ_REP_NO.CURRVAL,
 			#{name},
 			#{path}
 		)
	</insert>
	
	<!-- 전체 갯수 -->
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(NO)
 		FROM REPORT
	</select>
	
	<!-- 목록 조회 -->
	<select id="selectList"	resultType="TaskReportVo">
		SELECT 
		    R.NO,
		    R.TASK_NO,
		    A.ATT_NAME,
		    E.NAME AS SENDER,
		    R.TITLE,
		    R.CONTENT,
		    R.ENROLL_DATE
		FROM REPORT R
		JOIN EMPLOYEE E
		ON R.SENDER = E.NO
		JOIN (
		    SELECT
		        A.REP_NO,
		        LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS ATT_NAME
		    FROM REPORT_ATT A
		    JOIN EMPLOYEE E
		    ON A.EMP_NO = E.NO
		    WHERE A.TYPE = 'A'
		    GROUP BY A.REP_NO
		) A
		ON R.NO = A.REP_NO
		WHERE R.DEL = 'N'
		ORDER BY R.NO DESC
	</select>
	
	<!-- 보고서 상세 조회 -->
	<select id="selectOneByNo" resultType="TaskReportVo">
 		SELECT 
 			R.TITLE,
    		R.NO,
		    E.NAME AS SENDER,
		    D.NAME AS DEPT_NO,
		    P.NAME AS POS_NAME,
		    R.TASK_NO,
		    R.TITLE,
		    R.CONTENT,
		    R.ENROLL_DATE
		FROM REPORT R
		JOIN EMPLOYEE E
		ON E.NO = R.SENDER
		JOIN DEPARTMENT D
		ON D.NO = E.DEPT_NO
		JOIN POSITION P
		ON P.NO = E.POS_NO
		JOIN TASK T
		ON T.NO = R.TASK_NO
		WHERE R.NO = #{no}
		AND R.DEL = 'N'
	</select>
	
	<!-- 보고서 상세 - 수신 -->
 	<select id="selectAttOne" resultType="TaskReportAttVo">
 		SELECT
		    A.REP_NO,
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS EMP_NO,
		    A.TYPE
		FROM REPORT_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE A.TYPE = 'A'
		AND A.REP_NO = #{no}
		GROUP BY
		    A.REP_NO,
		    A.TYPE
	</select>

	
	<select id="selectAttROne" resultType="TaskReportAttVo">
		SELECT
		    A.REP_NO,
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS EMP_NO,
		    A.TYPE
		FROM REPORT_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE A.TYPE = 'R'
		AND A.REP_NO = #{no}
		GROUP BY
		    A.REP_NO,
		    A.TYPE
	</select>
	
	<select id="selectEditAtt" resultType="TaskReportAttVo">
		SELECT
		    A.REP_NO,
		    A.EMP_NO,
		    A.TYPE
		FROM REPORT_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE A.TYPE = 'A'
		AND A.REP_NO = #{no}
	</select>
	
	<select id="selectEditRatt" resultType="TaskReportAttVo">
		SELECT
		    A.REP_NO,
		    A.EMP_NO,
		    A.TYPE
		FROM REPORT_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE A.TYPE = 'R'
		AND A.REP_NO = #{no}
	</select>
	
	<!-- 파일 목록 -->
	<select id="selectFileForReportNo" resultType="TaskReportFileVo">
		SELECT
		    NO,
		    REP_NO,
		    NAME,
		    PATH
		FROM REPORT_FILE
		WHERE REP_NO = #{no}
	</select>
	
	<!-- 파일 다운로드 -->
	<select id="selectFileForNo" resultType="TaskReportFileVo">
		SELECT
		    NO,
		    REP_NO,
		    NAME,
		    PATH
		FROM REP_FILE
		WHERE NO = #{no}
	</select>
	
	<!-- 검색 갯수 -->
	<select id="selectKeywordCnt" parameterType="HashMap" resultType="int">
		SELECT COUNT(R.NO)
		FROM REPORT R
		JOIN EMPLOYEE E
		ON E.NO = R.SENDER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="type=='title'">
					AND R.TITLE LIKE '%'||#{keyword}||'%'
				</if>
				<if test="type=='content'">
					AND R.CONTENT LIKE '%'||#{keyword}||'%'
				</if>
				<if test="type=='sender'">
					AND E.NAME LIKE '%'||#{keyword}||'%'
				</if>
			</if>
		</trim>
	</select>
	
	<!-- 검색 데이터 -->
	<select id="selectReportKeyword" parameterType="HashMap"  resultType="TaskReportVo">
		SELECT 
		    R.NO,
		    R.TASK_NO,
		    A.ATT_NAME,
		    E.NAME AS SENDER,
		    R.TITLE,
		    R.CONTENT,
		    R.ENROLL_DATE
		FROM REPORT R
		JOIN EMPLOYEE E
		ON R.SENDER = E.NO
		JOIN (
		    SELECT
		        A.REP_NO,
		        LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS ATT_NAME
		    FROM REPORT_ATT A
		    JOIN EMPLOYEE E
		    ON A.EMP_NO = E.NO
		    WHERE A.TYPE = 'A'
		    GROUP BY A.REP_NO
		) A
		ON R.NO = A.REP_NO
		WHERE R.DEL = 'N'
		<choose>
			<when test="type=='title' and keyword != null and keyword != '' ">
				AND R.TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test="type=='content' and keyword != null and keyword != '' ">
				AND R.CONTENT LIKE '%'||#{keyword}||'%'
			</when>
			<when test="type=='sender' and keyword != null and keyword != '' ">
				AND E.NAME LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
		ORDER BY R.NO DESC
	</select>
	
	<!-- 보고서 삭제 -->
	<update id="deleteReport">
		UPDATE REPORT
			SET
				DEL = 'Y'
		WHERE NO = #{no}
	</update>
	
	<update id="updateReport">
		UPDATE REPORT
			SET
				TITLE = #{title},
				CONTENT = #{content},
				MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<!-- 첨부파일 삭제 -->
	<delete id="deleteFile">
		DELETE FROM REPORT_FILE
		WHERE REP_NO = #{no}
	</delete>
	
	<!-- 수신참조 삭제 -->
	<delete id="deleteAtt">	
		DELETE FROM REPORT_ATT
		WHERE REP_NO = #{no}
	</delete>
	
	<!-- 수신참조 수정 -->
	<insert id="editReportAtt">
		INSERT INTO REPORT_ATT
 		(
	 		NO,
			EMP_NO,
			REP_NO,
			TYPE
		)
		VALUES
		(
			SEQ_REP_ATT_NO.NEXTVAL,
			#{empNo},
			#{repNo},
			#{type}
		)
	</insert>
	<!-- 파일 수정 -->
	<insert id="editFile">
		INSERT INTO REPORT_FILE
 		(
 			NO,
			REP_NO,
			NAME,
			PATH
 		)
 		VALUES
 		(
 			SEQ_REP_FILE_NO.NEXTVAL,
 			#{repNo},
 			#{name},
 			#{path}
 		)
	</insert>
</mapper>
