<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taskOrderMapper">
 	
 	<!-- 지시서 등록 -->
 	<insert id="insertOrder">
 		INSERT INTO TASK
		(
		    NO,
		    ORDERER,
		    DEPT_NO,
		    TITLE,
		    CONTENT,
		    START_DATE,
		    END_DATE,
		    IMPORTANCE
		)
		VALUES
		(
		    SEQ_TASK_NO.NEXTVAL,
		    #{orderer},
		    #{deptNo},
		    #{title},
		    #{content},
		    #{startDate},
		    #{endDate},
		    #{importance}
		)
 	</insert>
 	
	<!-- 작성 수신자 리스트 -->
	<select id="selectWriteAttList" resultType="MemberVo">
		SELECT
		    E.NAME,
		    P.NAME AS POS_NO,
		    D.NAME AS DEPT_NO
		FROM EMPLOYEE E
		JOIN POSITION P
		ON E.POS_NO = P.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		WHERE RESIGN_YN = 'N'
	</select>
 	
 	<!-- 지시서 수신참조 -->
 	<insert id="insertOrderAtt">
 		INSERT INTO TASK_ATT
 		(
	 		NO,
			EMP_NO,
			TASK_NO,
			TYPE
		)
		VALUES
		(
			SEQ_TASK_ATT_NO.NEXTVAL,
			#{empNo},
			SEQ_TASK_NO.CURRVAL,
			#{type}
		)
 	</insert>
 	
 	<!-- 지시서 파일 첨부 -->
 	<insert id="insertFile">
 		INSERT INTO TASK_FILE
 		(
 			NO,
			TASK_NO,
			NAME,
			PATH
 		)
 		VALUES
 		(
 			SEQ_TASK_FILE_NO.NEXTVAL,
 			SEQ_TASK_NO.CURRVAL,
 			#{name},
 			#{path}
 		)
 	</insert>
 	
 	<!-- 전체 게시글 수 조회 -->
 	<select id="selectCountAll" resultType="int">
 		SELECT COUNT(NO)
 		FROM TASK
 	</select>
 	
 	<!-- 지시서 목록 조회 -->
 	<select id="selectList" resultType="TaskOrderVo">
		SELECT 
		    T.NO,
		    E.NAME AS ORDERER,
		    A.ATT_NAME,
		    T.DEPT_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE
		FROM TASK T
		JOIN EMPLOYEE E
		ON T.ORDERER = E.NO
		JOIN (
	        SELECT
		        A.TASK_NO,
		        LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS ATT_NAME
		    FROM TASK_ATT A
		    JOIN EMPLOYEE E
		    ON A.EMP_NO = E.NO
		    WHERE A.TYPE = 'A'
		    GROUP BY A.TASK_NO
		) A
		ON T.NO = A.TASK_NO
		ORDER BY T.NO DESC
 	</select>
 	
 	<!-- 상세 조회 -->
 	<select id="selectOneByNo" resultType="TaskOrderVo">
 		SELECT 
    		T.NO,
		    E.NAME AS ORDERER,
		    D.NAME AS DEPT_NO,
		    P.NAME AS POS_NAME,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE
		FROM TASK T
		JOIN EMPLOYEE E
		ON E.NO = T.ORDERER
		JOIN DEPARTMENT D
		ON D.NO = T.DEPT_NO
		JOIN POSITION P
		ON P.NO = E.POS_NO
		WHERE T.NO = #{no}
 	</select>
 	 	
 	<!-- 상세 - 수신 -->
 	<select id="selectAttOne" resultType="TaskOrderAttVo">
 		SELECT
		    A.TASK_NO,
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS EMP_NO,
		    A.TYPE
		FROM TASK_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE TYPE = 'A'
		AND A.TASK_NO = #{no}
		GROUP BY
		    A.TASK_NO,
		    A.TYPE
 	</select>
 	
 	<!-- 상세 - 참조 -->
 	<select id="selectAttROne" resultType="TaskOrderAttVo">
 		SELECT
		    A.TASK_NO,
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS EMP_NO,
		    A.TYPE
		FROM TASK_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		WHERE TYPE = 'R'
		AND A.TASK_NO = #{no}
		GROUP BY
		    A.TASK_NO,
		    A.TYPE
 	</select>
 	
 	<!-- 상세 - 파일 목록 -->
	<select id="selectFileList" resultType="TaskOrderFileVo">
		SELECT
		    NO,
		    TASK_NO,
		    NAME,
		    PATH
		FROM TASK_FILE
		WHERE TASK_NO = #{no}
	</select>
	
	<!-- 상세 - 파일 다운로드 -->
	<select id="selectFile" resultType="TaskOrderFileVo">
		SELECT
		    NO,
		    TASK_NO,
		    NAME,
		    PATH
		FROM TASK_FILE
		WHERE NO = #{no}
	</select>

	<!-- 보고서 작성할 때 지시서 연결 -->
	<select id="selectListForAtt" resultType="TaskOrderVo">
		SELECT 
		    T.NO AS NO,
		    E.NAME AS ORDERER,
		    T.TITLE
		FROM TASK T
		JOIN TASK_ATT A
		ON T.NO = A.TASK_NO
		JOIN EMPLOYEE E
		ON E.NO = T.ORDERER
		WHERE A.EMP_NO = #{no}
		ORDER BY T.NO DESC
	</select>
</mapper>
