<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taskOrderMapper">
 	<insert id="insertReport">
 		INSERT INTO TASK
		(
		    NO,
		    ORDERER,
		    DEPT_NO,
		    TITLE,
		    CONTENT,
		    START_DATE,
		    END_DATE,
		    IMPORTANCE
		)
		VALUES
		(
		    SEQ_TASK_NO.NEXTVAL,
		    #{orderer},
		    #{deptNo},
		    #{title},
		    #{content},
		    #{startDate},
		    #{endDate},
		    #{importance}
		)
 	</insert>
 	
 	<insert id="insertReportAtt">
 		INSERT INTO TASK_ATT
 		(
	 		NO,
			EMP_NO,
			TASK_NO,
			TYPE
		)
		VALUES
		(
			SEQ_TASK_ATT_NO.NEXTVAL,
			#{empNo},
			SEQ_TASK_NO.CURRVAL,
			#{type}
		)
 	</insert>
 	
 	<insert id="insertFile">
 		INSERT INTO TASK_FILE
 		(
 			NO,
			TASK_NO,
			NAME,
			PATH
 		)
 		VALUES
 		(
 			SEQ_TASK_FILE_NO.NEXTVAL,
 			SEQ_TASK_NO.CURRVAL,
 			#{name},
 			#{path}
 		)
 	</insert>
 	
 	<select id="selectCountAll" resultType="int">
 		SELECT COUNT(NO)
 		FROM TASK
 	</select>
 	
 	<select id="selectList" resultType="TaskOrderVo">
		SELECT 
		    T.NO,
		    T.DEPT_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    E.NAME AS ORDERER,
		    A.TASK_NO AS ATT
		FROM TASK T
		JOIN EMPLOYEE E
		ON T.ORDERER = E.NO
		JOIN TASK_ATT A
		ON T.NO = A.TASK_NO
		ORDER BY T.NO DESC
 	</select>
</mapper>
