<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="taskOrderMapper">
 	<insert id="insertReport">
 		INSERT INTO TASK
		(
		    NO,
		    ORDERER,
		    DEPT_NO,
		    TITLE,
		    CONTENT,
		    START_DATE,
		    END_DATE,
		    IMPORTANCE
		)
		VALUES
		(
		    SEQ_TASK_NO.NEXTVAL,
		    #{orderer},
		    #{deptNo},
		    #{title},
		    #{content},
		    #{startDate},
		    #{endDate},
		    #{importance}
		)
 	</insert>
 	
 	<insert id="insertReportAtt">
 		INSERT INTO TASK_ATT
 		(
	 		NO,
			EMP_NO,
			TASK_NO,
			TYPE
		)
		VALUES
		(
			SEQ_TASK_ATT_NO.NEXTVAL,
			#{empNo},
			SEQ_TASK_NO.CURRVAL,
			#{type}
		)
 	</insert>
 	
 	<insert id="insertFile">
 		INSERT INTO TASK_FILE
 		(
 			NO,
			TASK_NO,
			NAME,
			PATH
 		)
 		VALUES
 		(
 			SEQ_TASK_FILE_NO.NEXTVAL,
 			SEQ_TASK_NO.CURRVAL,
 			#{name},
 			#{path}
 		)
 	</insert>
 	
 	<select id="selectCountAll" resultType="int">
 		SELECT COUNT(NO)
 		FROM TASK
 	</select>
 	
 	<select id="selectList" resultType="TaskOrderVo">
		SELECT 
		    T.NO,
		    T.DEPT_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    E.NAME AS ORDERER
		FROM TASK T
		JOIN EMPLOYEE E
		ON T.ORDERER = E.NO
		ORDER BY T.NO DESC
 	</select>
 	
 	<select id="selectAttList" resultType="TaskOrderAttVo">
 		SELECT
		    A.TASK_NO,
		    LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS E_NO
		FROM TASK_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		GROUP BY A.TASK_NO
 	</select>
 	
 	<select id="selectOne" resultType="TaskOrderVo">
 		SELECT 
		    T.NO,
		    E.NAME AS ORDERER,
		    T.DEPT_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE
		FROM TASK T
		JOIN EMPLOYEE E
		ON T.ORDERER = E.NO
		WHERE T.NO = #{no}
 	</select>
 	
 	<select id="selectAttOne" resultType="TaskOrderAttVo">
 		SELECT
		    A.TASK_NO,
		    LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS E_NO
		FROM TASK_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		WHERE A.TASK_NO = #{no}
		AND TYPE = 'A'
		GROUP BY A.TASK_NO
 	</select>
 	
 	<select id="selectAttROne" resultType="TaskOrderAttVo">
 		SELECT
		    A.TASK_NO,
		    LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS E_NO
		FROM TASK_ATT A
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		WHERE A.TASK_NO = #{no}
		AND TYPE = 'R'
		GROUP BY A.TASK_NO
 	</select>
 	
 	<select id="selectOneByNo" resultType="TaskOrderVo">
		SELECT 
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS ATT_NAME,
		    A.TYPE,
		    R.E_NO AS RATT_NAME,
		    R.TYPE,
		    A.TASK_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    O.ORDERER,
		    O.POS_NAME,
		    O.DEP_NAME
		FROM TASK_ATT A
		JOIN TASK T
		ON A.TASK_NO = T.NO
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		JOIN(
		    SELECT
		        A.NO,
		        LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS E_NO,
		        A.TASK_NO,
		        A.TYPE
		    FROM TASK_ATT A
		    JOIN EMPLOYEE E
		    ON A.EMP_NO = E.NO
		    JOIN POSITION P
		    ON E.POS_NO = P.NO
		    WHERE TYPE = 'R'
		    AND A.TASK_NO = #{no}
		    GROUP BY
		        A.NO,
		        A.TASK_NO,
		        A.TYPE
		) R
		ON A.TASK_NO = R.TASK_NO
		JOIN(
		    SELECT
		        TAS.NO,
		        EMP.NAME AS ORDERER,
		        POS.NAME AS POS_NAME,
		        DEP.NAME AS DEP_NAME
		    FROM EMPLOYEE EMP
		    JOIN DEPARTMENT DEP
		    ON EMP.DEPT_NO = DEP.NO
		    JOIN POSITION POS
		    ON EMP.POS_NO = POS.NO
		    JOIN TASK TAS
		    ON TAS.ORDERER = EMP.NO
		) O
		ON O.NO = T.NO
		WHERE A.TYPE = 'A'
		AND A.TASK_NO = #{no}
		GROUP BY
		    A.TASK_NO,
		    A.TYPE,
		    R.E_NO,
		    R.TYPE,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    O.ORDERER,
		    O.POS_NAME,
		    O.DEP_NAME
 	</select>
 	
 	<select id="selectListAddAtt" resultType="TaskOrderVo">
 		SELECT 
 			T.NO,
		    LISTAGG(CONCAT(CONCAT(E.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY E.NAME) AS ATT_NAME,
		    NVL(LISTAGG(CONCAT(CONCAT(R.NAME, ' '), P.NAME), ',') WITHIN GROUP (ORDER BY R.NAME), '없음') AS RATT_NAME,
		    A.TASK_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    O.ORDERER,
		    O.POS_NAME,
		    O.DEP_NAME
		FROM TASK_ATT A
		JOIN TASK T
		ON A.TASK_NO = T.NO
		JOIN EMPLOYEE E
		ON A.EMP_NO = E.NO
		JOIN POSITION P
		ON E.POS_NO = P.NO
		JOIN DEPARTMENT D
		ON E.DEPT_NO = D.NO
		JOIN(
		    SELECT
		        A.NO,
		        LISTAGG(E.NAME, ',') WITHIN GROUP (ORDER BY E.NAME) AS NAME,
		        A.TASK_NO,
		        A.TYPE
		    FROM TASK_ATT A
		    JOIN EMPLOYEE E
		    ON A.EMP_NO = E.NO
		    WHERE TYPE = 'R'
		    GROUP BY
		        A.NO,
		        A.TASK_NO,
		        A.TYPE
		) R
		ON A.TASK_NO = R.TASK_NO
		JOIN(
		    SELECT
		        TAS.NO,
		        EMP.NAME AS ORDERER,
		        POS.NAME AS POS_NAME,
		        DEP.NAME AS DEP_NAME
		    FROM EMPLOYEE EMP
		    JOIN DEPARTMENT DEP
		    ON EMP.DEPT_NO = DEP.NO
		    JOIN POSITION POS
		    ON EMP.POS_NO = POS.NO
		    JOIN TASK TAS
		    ON TAS.ORDERER = EMP.NO
		) O
		ON O.NO = T.NO
		WHERE A.TYPE = 'A'
		GROUP BY
			T.NO,
		    A.TASK_NO,
		    T.TITLE,
		    T.CONTENT,
		    T.ENROLL_DATE,
		    T.START_DATE,
		    T.END_DATE,
		    T.IMPORTANCE,
		    O.ORDERER,
		    O.POS_NAME,
		    O.DEP_NAME
 	</select>
</mapper>
