@charset "UTF-8";

    /* 메일 체크박스 옆 드롭다운 */
    .dropdown{
        position : relative;
        display : inline-block;
    }
    .dropbtn{
        display: inline-block;
        display: flex;
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    .dropbtn>img{
        margin: auto;
    }
    .dropdown-content{
        display : none;
        position : absolute;
        z-index : 1; /*다른 요소들보다 앞에 배치*/
        width: 100px;
        height: 75px;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        background-color: white;
    }
    .dropdown-content a{
        display : block;
        text-decoration: none;
        border-bottom: 1px solid #cdcdcd;
        color: #000;
    }
    .dropdown-content a:hover{
        background-color: #f0f0f0;
    }
    .dropdown-content>a:last-child{
        border: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #mid-nav>*{
        margin-left: 14px;
    }
    #mid-nav>input[type="checkbox"]{
        margin-top: 4px;
        width: 20px;
        height: 20px;
    }

    /* 메일리스트 아이템 */
    .mail-list-item{
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #9a9a9a;
        text-decoration: none;
        color: #000000;
    }
    .mail-list-item:hover{
        color: #000000;
        background-color: #f0f0f0;
    }
    .mail-list-item>input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 25px;
    }
	